@mixin custom-font-icons-base-css {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.tweblog-custom-font-icons-pocket-chat,
.fa-tweblog-custom-font-icons-pocket-chat {
  @include custom-font-icons-base-css;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iY3VycmVudENvbG9yIj48cGF0aCB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMS4yIC0xLjIpIHNjYWxlKDEuMSkiIGQ9Ik0yIDguOTkzNzRDMiA1LjY4MzQ5IDQuNjc2NTQgMyA4LjAwMDY2IDNIMTUuOTk5M0MxOS4zMTM0IDMgMjIgNS42OTQ3OCAyMiA4Ljk5Mzc0VjIxSDguMDAwNjZDNC42ODY1OSAyMSAyIDE4LjMwNTIgMiAxNS4wMDYzVjguOTkzNzRaTTE0IDExVjEzSDE2VjExSDE0Wk04IDExVjEzSDEwVjExSDhaIj48L3BhdGg+PC9zdmc+);
  /*
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path transform="translate(-1.2 -1.2) scale(1.1)" d="M2 8.99374C2 5.68349 4.67654 3 8.00066 3H15.9993C19.3134 3 22 5.69478 22 8.99374V21H8.00066C4.68659 21 2 18.3052 2 15.0063V8.99374ZM14 11V13H16V11H14ZM8 11V13H10V11H8Z"></path></svg>
  */
}
